{% block body %}

<div class="btn-group btn-group-justified" role="group" aria-label="">
	<a class="btn btn-default" href="">ServerSmash</a>
	<a class="btn btn-default" href="">PSBL</a>
	<a class="btn btn-default" href="">OvO</a>
	<a class="btn btn-default" href="">ArmorSide</a>
	<a class="btn btn-default" href="">Other</a>
</div>

{% endblock %}