{% extends('PSBSiteBundle::public.html.twig') %}
{% block body %}
	<div class="container content">
		<div class="content_inner">
			<div class="folded"><h2>What is Public Pickup?</h2></div>
			<p dir="ltr" style="line-height: 1.15; margin-top: 0pt; margin-bottom: 0pt;">Public Pickup is where Planetside Battle’s roots lay. It is a community event that allows all types of players from different servers, to come together and play in small scale fights that follow predefined rule sets on a match to match bases. All participating players are randomly assigned a team and faction for the event and teams re-balanced though to make sure matches are fun, even ,and enjoyable for partaking players. </p>
			<p dir="ltr" style="line-height: 1.15; margin-top: 0pt; margin-bottom: 0pt;"> </p>
			<p dir="ltr" style="line-height: 1.15; margin-top: 0pt; margin-bottom: 0pt;">Public Pickup is a great way to hone your FPS skills and learn about game mechanics in a relaxed, semi-competitive environment. </p>
			<p dir="ltr" style="line-height: 1.15; margin-top: 0pt; margin-bottom: 0pt;"> </p>
			<p dir="ltr" style="line-height: 1.15; margin-top: 0pt; margin-bottom: 0pt;">We are reinforcing our Public Pickup events with greater access, outfit vs outfit and quality of life extras with Jaeger access and a dedicated team.</p>
			<hr />
			<h3>Public Pickup Team</h3>
			<h4 id="wiki_operations_admin">Operations Administrators</h4>
			<ul>
				<li>[TFDN] Fuzzbuket, <a href="http://twitter.com/fuzz_buket" rel="nofollow">Twitter</a>, <a href="http://www.reddit.com/u/fuzzbuket" rel="nofollow">reddit</a></li>
				<li>[LVRG] Greejal, <a href="http://twitter.com/GreejalTR" rel="nofollow">Twitter</a>, <a href="http://www.reddit.com/u/Greejal" rel="nofollow">reddit</a></li>
				<li>Reeve87, <a title="Twitter" href="http://twitter.com/reeve1987">Twitter</a> , <a href="http://www.reddit.com/user/reeve87">Reddit</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
{% block javascript %}
{% endblock %}