{% extends('PSBSiteBundle::public.html.twig') %}
{% block body %}
	<div class="container content">
		<div class="content_inner">
			<div class="folded"><h2>What is PSBL?</h2></div>
			<p>After the success of Outfit vs Outfit and public pickups, planetside battles takes infantry competition to the next level by giving a chance for teams to compete in a different format.</p>
			<p>PSBL is an open league for 12v12 infantry fights in battle game mode.</p>
			<p>2 teams fight over a neutral base capture using exclusive accounts to the private server Jaeger.</p>
			<p>PSBL focuses on skill and tactics, it's the perfect opportunity to improve your squad play for bigger events or even live play ! </p>
			<ul>
				<li><a href="league/rules" target="_blank">Rules</a></li>
				<li><a href="league/maps" target="_blank">Maps</a></li>
				<li><a href="league/season-1-signup" target="_blank">Signups</a> (Currently closed - Season 1 in progress)</li>
			</ul>
			<hr />
			<h3>The PSBL Team</h1>
			<h4>Head Admin EU:</h4>
			<ul>
				<li>Passionatelover <a href="https://twitter.com/Passionatel0v3r" target="_blank">Twitter</a> <a href="http://www.reddit.com/user/PassionateL0ver/" target="_blank">Reddit</a></li>
			</ul>
			<h4>Head Admin NA:</h4>
			<ul>
				<li>SGTMile <a href="https://twitter.com/SGTMile" target="_blank">Twitter</a> <a href="http://www.reddit.com/user/SGTMile">Reddit</a></li>
			</ul>
			<h4>Division chiefs EU:</h4>
			<ul>
				<li>Div 1 CptNukeem <a href="http://www.reddit.com/user/cptnukeem">Reddit</a></li>
				<li>Div 2 Boxdirty <a href="http://www.reddit.com/user/BoxDirty">Reddit</a></li>
				<li>Div 3 GreyBeardRalph <a href="http://www.reddit.com/user/greybeardralph">Reddit</a></li>
			</ul>
			<h4><span style="line-height: 15.8079996109009px;">Division chiefs</span> NA:</h4>
			<ul>
				<li>Div 1 Foxual <a href="http://www.reddit.com/user/foxual">Reddit</a></li>
				<li>Div 2 EagleEyeFoley <a href="http://www.reddit.com/user/EagleEyeFoley">Reddit</a></li>
			</ul>
			<h4>Referees:</h4>
			<ul>
				<li>Reeve <a href="http://www.reddit.com/user/reeve87">Reddit</a></li>
				<li>Greejal <a href="http://www.reddit.com/user/Greejal">Reddit</a></li>
				<li>Maverick Shadowblade <a href="http://www.reddit.com/user/MShadowbladeTR">Reddit</a></li>
				<li>Robertinho95 <a href="http://www.reddit.com/user/Robertinho95">Reddit</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
{% block javascript %}
{% endblock %}