{% extends('PSBSiteBundle::public.html.twig') %}
{% block body %}
	<div class="container content">
		<div class="content_inner">
			<div class="folded"><h2>What is ServerSmash?</h2></div>
			<p>ServerSmash is a series of community organised events, where participants from different Planetside 2 servers meet to do battle across a variety of different maps designed around massive coordinated forces and combined arms warfare spanning entire continents.</p>
			<p>ServerSmash started as an idea between Public Pickup players wanting to fight against each other in a large scale combined arms experience, instead of single base, domination matches.</p>
			<p>The first ServerSmash took place on an pre-release version of Hossin on the Public Test Server where 96 players from Connery and 96 from Miller battled for Neson’s Defiance in a King of the Hill style fight. Even though that match dwarfed almost anything else ever seen in competitive gaming, the community rallied to the idea and soon matches were growing in frequency and number. From our small (by Planetside standards) beginnings showcasing 96v96 fights we have expanded to 192v192, 240v240, 288v288, and even 336v336 matches.</p>
			<p>ServerSmash is Planetside, the way Planetside is meant to be played.</p>
	
			<hr />
			<h1 id="wiki_server_representatives">Server Representatives</h1>
			<p>We have a dedicated team for each participating server. If you are interested in playing a ServerSmash event your server’s representative team is your first and best point of contact.</p>
			<h4 id="wiki_briggs">Briggs</h4>
			<ul>
				<li>[JUGA] Sen7ryGun, <a href="http://www.reddit.com/u/sen7rygun" rel="nofollow">reddit</a></li>
				<li>[SOCA] eriman, <a href="http://www.reddit.com/u/eriman" rel="nofollow">reddit</a></li>
			</ul>
			<h4 id="wiki_cobalt">Cobalt</h4>
			<ul>
				<li>[JEST] Daninator, <a href="https://twitter.com/D4nin4tor" rel="nofollow">Twitter</a>, <a href="http://www.reddit.com/u/d4nin4tor" rel="nofollow">reddit</a></li>
				<li>[F00L] Passionatelover, <a href="https://twitter.com/Passionatel0v3r" rel="nofollow">Twitter</a>, <a href="http://www.reddit.com/u/passionatel0ver" rel="nofollow">reddit</a></li>
				<li>[RSG1] VictorMarx, <a href="https://twitter.com/CrazyRalphO" rel="nofollow">Twitter</a>, <a href="http://www.reddit.com/u/rictavius" rel="nofollow">reddit</a></li>
			</ul>
			<h4 id="wiki_connery">Connery</h4>
			<ul>
				<li>[DPSO] YonV, <a href="http://www.reddit.com/u/yonvclaw" rel="nofollow">reddit</a></li>
				<li>[00] GhostMarauder</li>
				<li>[CIK] Patroclusx, <a href="https://twitter.com/Patro352" rel="nofollow">Twitter</a>, <a href="http://www.reddit.com/u/Patro352" rel="nofollow">reddit</a></li>
			</ul>
			<h4 id="wiki_emerald">Emerald</h4>
			<ul>
				<li>[XOO] MasterChaif, <a href="http://steamcommunity.com/id/MasterChaif" rel="nofollow">Steam</a>, <a href="http://twitter.com/MasterChaif" rel="nofollow">Twitter</a>, <a href="http://www.reddit.com/u/masterchaif" rel="nofollow">reddit</a></li>
				<li>[V] Negator, <a href="http://www.reddit.com/u/negatorxx" rel="nofollow">reddit</a></li>
				<li>[TIW] Auximoron, <a href="http://steamcommunity.com/profiles/7656119804319461" rel="nofollow">Steam</a>, <a href="http://www.reddit.com/u/Auximoron" rel="nofollow">reddit</a></li>
				<li>[TIW] piecesofpizza, <a href="http://www.reddit.com/u/piecesofpizza" rel="nofollow">reddit</a></li>
			</ul>
			<h4 id="wiki_miller">Miller</h4>
			<ul>
				<li>[KOTV] SakuraGore, <a href="http://www.reddit.com/u/SakuraGore" rel="nofollow">reddit</a></li>
				<li>[2CA] Satrianivai1988, <a href="https://twitter.com/satrianivai1988" rel="nofollow">Twitter</a>, <a href="http://www.reddit.com/u/satrianivai" rel="nofollow">reddit</a></li>
				<li>[INI] angeh, <a href="http://www.reddit.com/u/angehbabe" rel="nofollow">reddit</a></li>
				<li>[REBR] Darthsebious, <a href="https://twitter.com/Darthsebious" rel="nofollow">Twitter</a>, <a href="http://www.reddit.com/u/darthsebious" rel="nofollow">reddit</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
{% block javascript %}
{% endblock %}