{% extends('PSBSiteBundle::public.html.twig') %}
{% block body %}
	<div class="container content">
		<div class="content_inner">
			<div class="folded"><h2>What is Planetside Battles?</h2></div>
			<p>Planetside Battles is a nonprofit organisation that runs, hosts ,and supports a variety of community driven events that involve Planetside 2. We aim to bring informative articles and entertaining content to the community.</p>
			<p>We originally started with open, public pickup matches and found interest from attending players for large scale, pure Planetside 2 matches which led to the creation of our flagship event ServerSmash.</p>
			<p>Our events are shaped by and strongly involve the community. We believe strongly in and ethos of ‘for the community, by the community’; and welcome as much feedback from players as possible. </p>
			<hr />
			<h3 id="wiki_the_admin_council">Planetside Battles Leadership Team</h1>
			<h4 id="wiki_head_admin">Lead Administrator</h4>
			<ul>
				<li>[INI] Dotz0r, <a href="http://twitter.com/ps2_pickup" rel="nofollow">Twitter</a>, <a href="http://www.reddit.com/u/Dotz0r" rel="nofollow">Reddit</a></li>
			</ul>
			<h4 id="wiki_operations_admin">EU Operations <span style="line-height: 15.8079996109009px;">Administrator</span></h4>
			<ul>
				<li>[WASP] Allelujah, <a href="http://twitter.com/emeryesq" rel="nofollow">Twitter</a>, <a href="http://www.reddit.com/u/all3lujah" rel="nofollow">Reddit</a></li>
			</ul>
			<h4 id="wiki_operations_admin">AU / NA Operations <span style="line-height: 15.8079996109009px;">Administrator</span></h4>
			<ul>
				<li>[666] Lanzer, <a href="http://twitter.com/mrlanzerful" rel="nofollow">Twitter</a>, <a href="http://www.reddit.com/u/Lanzr" rel="nofollow">Reddit</a></li>
			</ul>
			<h4 id="wiki_communications_admin">Communications <span style="line-height: 15.8079996109009px;">Administrator</span></h4>
			<ul>
				<li>[DL3G] OdinsPride, <a href="http://twitter.com/0dinsPride" rel="nofollow">Twitter</a>, <a href="http://www.reddit.com/u/0dinsPride" rel="nofollow">Reddit</a></li>
			</ul>
			<h4 id="wiki_production_admin">Production <span style="line-height: 15.8079996109009px;">Administrator</span></h4>
			<ul>
				<li>[INI] Fara, <a href="http://twitter.com/farazelleth" rel="nofollow">Twitter</a>, <a href="http://www.reddit.com/u/farazelleth" rel="nofollow">Reddit</a></li>
			</ul>
			<h4 id="wiki_av_admin">Audio / Visual <span style="line-height: 15.8079996109009px;">Administrator</span></h4>
			<ul>
				<li>[DPSO] RedolentBastard, <a href="http://twitter.com/RedolentBastard" rel="nofollow">Twitter</a>, <a href="http://www.reddit.com/u/Tongue_of_Fools" rel="nofollow">Reddit</a></li>
			</ul>
			<h4 id="wiki_fun_police_admin">Fun Police </h4>
			<ul>
				<li>[DPSO] Leggerless, <a title="Reddit" href="http://www.reddit.com/user/Leggerless">Reddit</a></li>
			</ul>
			<h4 id="wiki_referee_admin">Head Referee </h4>
			<ul>
				<li>[DIGT] Justicia, <a href="http://twitter.com/justiciaDIGT" rel="nofollow">Twitter</a>, <a href="http://www.reddit.com/u/justiciaDIGT" rel="nofollow">Reddit</a></li>
			</ul>
			<h4 id="wiki_fun_police_admin" style="line-height: 15.8079996109009px;">Tech Police </h4>
			<ul style="line-height: 15.8079996109009px;">
				<li>[DIGT] Mealstrome26, <a style="line-height: 15.8079996109009px;" href="http://www.twitter.com/Maelstrome26">Twitter</a><span style="line-height: 15.8079996109009px;">, </span><a style="line-height: 15.8079996109009px;" href="http://twitter.com/PS2AlertTracker" rel="nofollow">@PS2AlertTracker</a><span style="line-height: 15.8079996109009px;">, </span><a style="line-height: 15.8079996109009px;" href="http://reddit.com/u/maelstrome26">Reddit</a> </li>
			</ul>
			<h4 id="wiki_web_admin" style="line-height: 15.8079996109009px;">PSBL NA Admin </h4>
			<ul style="line-height: 15.8079996109009px;">
				<li>SGTMile,<a href="http://www.reddit.com/u/SGTMile" rel="nofollow"> </a><a href="https://twitter.com/sgtmile">Twitter</a>, <a href="http://www.reddit.com/u/SGTMile" rel="nofollow">Reddit</a></li>
			</ul>
			<h4 id="wiki_web_admin" style="line-height: 15.8079996109009px;">PSBL EU Admin </h4>
			<ul style="line-height: 15.8079996109009px;">
				<li>Passionatel0ver, <a href="http://twitter.com/Passionatel0v3r">Twitter</a>, <a href="http://www.reddit.com/user/PassionateL0ver" rel="nofollow">Reddit</a></li>
			</ul>
			<hr />
			<h3 id="wiki_website_decelopers">Website Administration Team</h3>
			<p>Please forward any website questions and feature requests to:</p>
			<h4 id="wiki_web_dev_lead">Web Team Lead</h4>
			<ul style="line-height: 15.8079996109009px;">
				<li>Maelstrome26</li>
			</ul>
			<h4 id="wiki_web_dev_lead">Web Team</h4>
			<ul style="line-height: 15.8079996109009px;">
				<li>SGTMile</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}