{% extends('PSBSiteBundle::public.html.twig') %}
{% block body %}
	<div class="container content">
		<div class="content_inner">
			<div class="folded"><h2>YouTubers</h2></div>
			<p>Here at Planetside battles we like to support Planetside YouTubers! Therefore, we have complied some videos from ServerSmashes that others have recorded.</p>

			<p>Have a video you'd like to feature here? Let us know!</p>

			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<a class="btn btn-lg btn-primary" href="#worldrecord">World Record Attempt</a>
					<a class="btn btn-lg btn-primary" href="#montages">Montages</a>
					<a class="btn btn-lg btn-primary" href="#perspectives">Perspectives</a>
					<a class="btn btn-lg btn-primary" href="#highlights">Highlights</a>
				</div>
			</div>

			<hr>

			<h1 id="worldrecord">World Record Attempt</h1>
			<p>Videos related to the Planetside Battles World Record Attempt (<a href="/about/RecordSmash">details</a>)</p>
			<div class="row">

				<div class="col-md-6">
					<h3>Joshino 
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.youtube.com/channel/UCd59l7wqS_FssF9TbrpL2Qg">Channel</a>
						<a class="btn btn-sm btn-primary" target="_blank" href="https://twitter.com/joshinops2">Twitter</a>
					</h3>
				</div>
				<div class="col-md-6">
					<h3>TheYamiks 
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.youtube.com/channel/UCo6p2NdDfoUvH2Iw3O3ipPg">Channel</a>
						<a class="btn btn-sm btn-primary" target="_blank" href="https://twitter.com/TheYamiks">Twitter</a>
					</h3>
				</div>
				<div class="col-md-6">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/v7XIwwgTNK4" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-6">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/AX9suhw1rz8" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<hr>
			<hr>

			<h1 id="montages">Montages</h1>
			<p>Montage videos of ServerSmash events, whether a single event or ServerSmash-wide.</p>
			<div class="row">
				<div class="col-md-12">
					<h3>WaffleVFX 
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.youtube.com/channel/UCPQ93zulG7JeUMnQIHOyX5A">Channel</a>
						<a class="btn btn-sm btn-primary" target="_blank" href="http://reddit.com/u/MicroWin">Reddit</a>
					</h3>
				</div>
				
				<div class="col-md-12 col-sm-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/6kHEN49tP7o" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/b2ASlr-HdIk" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/Ni3-22nB_tw" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-6">
					<h3>Joshino 
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.youtube.com/channel/UCd59l7wqS_FssF9TbrpL2Qg">Channel</a>
						<a class="btn btn-sm btn-primary" target="_blank" href="https://twitter.com/joshinops2">Twitter</a>
					</h3>
				</div>
				<div class="col-md-6">
					<h3>AlexS189 
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.youtube.com/channel/UCikomUU9j9LxbeJTZCplFnA">Channel</a>
					</h3>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/R6OrDt8a4Ak" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/onbOmpcj-5o" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-12">
					<h3>Justicia
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.youtube.com/channel/UCHlavzVug51DRpkoH6tpZiQ">Channel</a>
						<a class="btn btn-sm btn-primary" target="_blank" href="https://twitter.com/JusticiaDIGT">Twitter</a>
					</h3>
				</div>
				<div class="col-md-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/93cvRf6c2XY" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<hr>
			<hr>

			<h1 id="perspectives">Perspectives</h1>
			<p>Perspectives are videos taken from the ground, down in the fight.</p>

			<div class="row">
				<div class="col-md-12">
					<h3>FuryMaker 
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.youtube.com/channel/UCsnzVAvshOrAy7zG0S71IUA">Channel</a>
					</h3>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/z4H3MhAog3Y" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/--VzxDc12Jc" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-12">
					<h3>miendudeplays 
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.youtube.com/channel/UC5fCgYZz8nWZJs7fUuLINgA">Channel</a>
						<a class="btn btn-sm btn-primary" target="_blank" href="http://www.reddit.com/u/miendude">Reddit</a>
					</h3>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/ppVIuro-mC4" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-12">
					<h3>MADirishGaming 
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.youtube.com/channel/UCF_1tnFVt8QucrWkvE_KZUA">Channel</a>
						<a class="btn btn-sm btn-primary" target="_blank" href="http://reddit.com/u/Sykkagaming">Reddit</a>
					</h3>
				</div>
				<div class="col-md-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/I-9AfmNNOEU" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-12">
					<h3>The1337Beast
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.youtube.com/channel/UCYWjcgoEf_0Kv1P_WRASshg">Channel</a>
						<a class="btn btn-sm btn-primary" target="_blank" href="http://reddit.com/u/TheEffage">Reddit</a>
					</h3>
				</div>
				<div class="col-md-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/QzkL2zpMlJY" frameborder="0" allowfullscreen></iframe>	
					</div>
				</div>

				<div class="col-md-6">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/iS-iBtx78CQ" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-6">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/qFIOqc-LJls" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-12">
					<h3>Morfildur (Command Perspectives)
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.youtube.com/channel/UCQ48MyQALm0gtsGDCPXyY3Q">Channel</a>
						<a class="btn btn-sm btn-primary" target="_blank" href="http://reddit.com/u/Morfildur">Reddit</a>
					</h3>
				</div>
				<div class="col-md-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/m40f4NtnYL8" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/cwrMlT2y0_0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-6">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/MxBBya-ufnw" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>		

			<!--<hr>

			<div class="row">
				<div class="col-md-12">
					<h3>Dutchcraft12 
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.youtube.com/channel/UCNyesjF-cq0GfUOQrH3Us1w">Channel</a>
					</h3>
				</div>
				<div class="col-md-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/GKLYbUNsa90" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		    -->

			<hr>
			<hr>

			<h1 id="highlights">Highlights</h1>
			<p>Highlights are shortened versions of each match, as edited by the creator.</p>

			<div class="row">
				<div class="col-md-12">
					<h3>Camikaze78 
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.youtube.com/channel/UCAEmJIcQb3Gq6jMELVksCOg">Channel</a>
						<a class="btn btn-sm btn-primary" target="_blank" href="https://twitter.com/CAMIKAZE78">Twitter</a>
					</h3>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="videoWrapper">
						<iframe width="560" height="349" src="//www.youtube.com/embed/1CW3T2F3Opo" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/Ia3P_RCVUiU" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-12">
					<h3>Justicia
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.youtube.com/channel/UCHlavzVug51DRpkoH6tpZiQ">Channel</a>
						<a class="btn btn-sm btn-primary" target="_blank" href="https://twitter.com/JusticiaDIGT">Twitter</a>
					</h3>
				</div>
				<div class="col-md-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/D6aZtoXOm4c" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-12">
					<h3>RXZeroUnicorn 
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.youtube.com/channel/UCADOB1uXvqHYIy7w2VOsSdA">Channel</a>
					</h3>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/tCf_6vZLpY0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-12">
					<h3>CTMWood84
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.youtube.com/channel/UCelShp-y4oM_bi_JFq2nTEw">Channel</a>
						<a class="btn btn-sm btn-primary" target="_blank" href="https://www.twitter.com/TridentOutfit">Twitter</a>
						<a class="btn btn-sm btn-primary" target="_blank" href="http://www.reddit.com/user/CTMWood">Reddit</a>
					</h3>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/4TFh6zLL9W8" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>	
		</div>
	</div>
{% endblock %}
{% block javascript %}
{% endblock %}

{% block stylesheets %}
	<style>
		.col-md-6
		{
			margin-top: 10px;
		}
	</style>
{% endblock %}