<div class="container content" style="margin-top: 15px">
	<div class="content_inner" style="text-align: center; padding-top: 20px; margin-bottom: 0px;">
		<p style="font-size: 12px; margin: 0">Copyright 2013-2015 © Planetside Battles | Proudly Developed and Hosted by <a style="font-size: 12px;" href="http://twitter.com/Maelstrome26">@Maelstrome26</a> <br> Planetside 2® is the property of <a href="http://daybreakgames.com">Daybreak Games Company</a>&trade;</p>
	</div>
</div>